# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- Popular languages used among Data Scientists
- Commonly used libraries used by Data Scientists
- Commonly used Data Science Tools
- Examples of Arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. JavaScript
2. Python
3. SQL
4. C++

Some of the commonly used libraries used by Data Scientist include:
1. Pandas
2. Numpy
3. MatPlotlib

|Data Science Tools|
|--------------------|
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This is a simple arithmetic expression to multiply and add integers.

x = (3*4)+5
x

17

In [6]:
#This will convert 200 minutes into hours by dividing by 60.
y = 200/60
int(y)

3

## Author
Chung Nguyen Huynh Khang